<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BG Remover</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/base.css">
</head>

<body>

    <style>
        img{
            height: 15rem;
            width: 15rem;
        }
    </style>


    <section class="product-card d-flex justify-content-center align-items-center">
        <img id="img-src" src="../../assets/images/product-kit.jpg" alt="Product">
    </section>

    <section>
        <h3 class="text-center">Background Removed Image:</h3>
        <div class="d-flex justify-content-center align-items-center">
            <img id="result-image" alt="Result Image">
        </div>
    </section>

    <script type="module" src="./js/bg-remover.js">  </script>
</body>

</html>